/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

 $cu-styles-root: '../../../interface-lib/camelot-unchained/styles/';
 @import "../../node_modules/camelot-unchained/lib/index.scss";

#inventory {
  width: 273px;
  height: 336px;
}

.cu-window-content::before {
  opacity: 0.6;
}

.inventory-list {
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 4px 2px 0 5px;
  list-style: none;
}

.inventory-item {
  position: relative;
  margin: 0px;
  padding: 4px 2px;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;

  &:hover {
    background-color: rgba(0,0,0,0.5);
  }

  .inventory-list--vertical & {
    cursor: pointer;

    .icon {
      display: inline-block;
      vertical-align: middle;
      margin-top: -1px;

      img {
        display: block;
      }
    }

    .name {
      display: inline-block;
      vertical-align: middle;
      max-width: 190px;
      padding-left: 5px;
      line-height: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 80%;
    }

    .quantity {
      display: block;
      float: right;
      margin: 1px 0 0;
      padding: 0 2px 0 5px;
      line-height: 15px;
      font-size: 80%;
      text-align: right;
    }
  }
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 10px #000;
}

.tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  pointer-events: none;

  .inventory-item:hover & {
    display: block;
  }
}

.tooltip__content {
  width: 100%;

  tr {
    font-size: 80%;
    vertical-align: top;
    border-bottom: 1px dashed #222;

    &:last-child {
      border-bottom: none;
    }
  }

  th {
    padding: 2px 5px 2px 0;
    border-right: 1px dashed #222;
  }

  td {
    padding: 2px 0 2px 5px;
    word-break: break-word;

    &.font-small {
      font-size: 9px;
    }

    &.font-monospace {
      font-family: 'Roboto Mono', monospace;
    }
  }
}

.cu-tooltip-inner {
  padding: 2px 6px !important;
}
