/**
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.network-page {
  font-family: 'Roboto Mono', monospace;
  border-top: 1px solid rgba(0,0,0,0.2);
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  margin-bottom: 5px;
  table {
    width: 100%;
    td {
      &:first-child {
        width: 45%;
      }
      &:last-child {
        width: 55%;
      }
      &.error {
        color: #AA2C2C;;
        font-weight: bold;
      }
    }
  }
}
