/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.render-page {

  .grid-header {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding-left: 6px;
    font-size: 10px;
    text-align: left;
    color: #dfdfdf;
    &:first-child {
      border-top: 1px solid rgba(0,0,0,0.2);
      padding-top: 1px;
    }
  }
  .grid-container {
    white-space: nowrap;
    box-sizing: border-box;
    padding-left: 0;
    padding-top: 0;
    line-height: 2px !important;
    margin-left: 5px;
    padding-right: 5px;
    cursor: default;
    > * {
      opacity: 0.8;
    }
    > div {
      border: 1px solid rgba(0, 0, 0, 0.2) !important;
    }
  }
  .grid-footer {
    font-family: 'Roboto Mono', monospace;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 8px;
    text-align: right;
    color: #dfdfdf;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 2px;
    margin: 0 0 1px;
  }
  .table {
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    font-family: 'Roboto Mono', monospace !important;
    > * {
      font-family: 'Roboto Mono', monospace !important;
      font-weight: normal !important;
      color: #efefef !important;
      text-shadow: 0 0 1px #000000;
    }
    table {
      font-size: 10px !important;
      font-weight: normal !important;
      line-height: 9px !important;
      margin-top: 0 !important;
    }

    table div {
      z-index: -1;
      opacity: 0.8;
      bottom: -1px;
      text-align: left;
    }

    th {
      text-align: right;
      padding-bottom: 2px !important;
    }

    th, td {
      font-weight: normal !important;
      padding: 0;
      padding-top: 2px;
      vertical-align: top;
    }
  }
  .errors {
    margin-top: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 9px;
    color: white;
    text-align: left;
    .error {
      border-top: 1px solid rgba(0,0,0,0.2);
      padding-top: 5px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 5px;
    }
  }
}
